<form method="post">
    <div>Hello guest</div>
    <div>Username <input name="username"/></div>
    <div>Password <input name="password"/></div>
    <div><input type="submit" value="Login"/> </div>
</form>