<form method="post">
    <div>
        Name <input name="name"/></div>
    <div>Username <input name="username"/></div>
    <div>Password <input name="password"/></div>
    <div><input type="submit" value="Register"/> </div>
</form>